:root {
  --text-color: rgb(84, 84, 84);
  --text-color-winner: rgb(91, 91, 91);
  --bg-color: hsl(0, 0%, 86%);
  --selected-color: hsl(0, 97%, 48%);
  --color-you: transparent;
  --color-pc: transparent;
}

body {
  width: 100%;
  height: 100vh;
  margin: 0;
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: 'Roboto', sans-serif;
  font-family: 'Roboto Condensed', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  transition: background-color 0.5s ease;
}

.header {
  width: 100%;
  height: 10px;
  border-radius: 0.4em;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.header__title {
  letter-spacing: 2px;
  font-size: 1.6rem;
}

.winnerTitle {
  margin-right: auto;
  margin-left: auto;
  font-size: 3rem;
  color: rgb(26, 26, 26);
}

.score-block {
  width: 80%;
  /* color: var(--bg-color); */
  border-radius: 0.4em;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.players1,
.players2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.playerYou {
  color: #1490f5;
}
.playerPc {
  color: #f30404;
}

.you,
.pc {
  margin: 5px;
  font-size: 1.5rem;
  letter-spacing: 2px;
}

.triangle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 170px;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  margin-bottom: 70px;
}

.paperIcon {
  width: 30px;
}

.playStyle {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 65px;
  height: 65px;
  border-radius: 50%;
  border: 3px solid rgb(236, 236, 236);
  -webkit-box-shadow: 2px 2px 2px 1px rgb(172, 172, 172);
  -moz-box-shadow: 2px 2px 2px 1px rgb(172, 172, 172);
  box-shadow: 2px 2px 2px 1px rgb(172, 172, 172);
  -webkit-animation-name: pulse;
  animation-name: pulse;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-iteration-count: 3;
  transition: background-color 0.2s ease;
}

.playStyle:active {
  background-color: #505050;
}

@keyframes pulse {
  0% {
    transform: scale3d(1, 1, 1);
  }
  50% {
    transform: scale3d(1.05, 1.05, 1.05);
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
  }
  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
  }
}

.paperPlayStyle {
  background-color: #03a10b;
  bottom: -12px;
}
.rockPlayStyle {
  background-color: #f30404;
  top: -12px;
  left: -12px;
}
.scissorsPlayStyle {
  background-color: #ffe711;
  top: -12px;
  right: -12px;
}

.triangle__winnerLoser {
  letter-spacing: 3px;
}

.selection-block1 {
  margin-bottom: 20px;
}

.selection-block1,
.selection-block2 {
  width: 100%;
  height: 20px;
  display: flex;
  justify-content: space-around;
}
.pickedColor {
  width: 15px;
  height: 15px;
  border-radius: 50%;
}
.youPickedColor {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: var(--color-you);
}
.pcPickedColor {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: var(--color-pc);
}

@media screen and (min-width: 520px) {
  body {
    background-color: #ececec;
  }
  .score-block {
    justify-content: space-around;
  }
}
@media screen and (min-width: 768px) {
  body {
    background-color: #3d3d3d;
    color: #ececec;
  }
  .header__title {
    font-size: 2.2rem;
  }
  .you,
  .pc {
    margin: 5px;
    font-size: 2rem;
    letter-spacing: 2px;
  }
  .triangle {
    width: 220px;
    height: 220px;
  }

  .playStyle {
    width: 75px;
    height: 75px;
  }
  .playStyle {
    border: 3px solid rgb(39, 39, 39);
    -webkit-box-shadow: 2px 2px 2px 1px rgb(39, 39, 39);
    -moz-box-shadow: 2px 2px 2px 1px rgb(39, 39, 39);
    box-shadow: 2px 2px 2px 1px rgb(39, 39, 39);
  }
  .winnerTitle {
    color: #ececec;
  }
  .score-block {
    width: 60%;
  }
}

@media screen and (min-width: 1000px) {
  main {
    /* border: 1px solid rgb(57, 57, 57); */
    width: 800px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 2em;
    box-shadow: 0px 0px 3px 1px rgba(87, 87, 87, 0.64);
    -webkit-box-shadow: 0px 0px 3px 1px rgba(87, 87, 87, 0.64);
    -moz-box-shadow: 0px 0px 3px 1px rgba(87, 87, 87, 0.64);
  }
  .selection-block2 {
    margin-bottom: 70px;
  }
  .paperIcon, .rockIcon, .scissorsIcon {
    width: 70%;
  }
  .paperPlayStyle:hover {
  background-color: #007706;
  cursor: pointer;
}
.rockPlayStyle:hover {
  background-color: #af0000;
  cursor: pointer;
}
.scissorsPlayStyle:hover {
  background-color: #d6c000;
  cursor: pointer;
}
}
